# Estandarizar todos los archivos de texto a LF internamente
* text=auto eol=lf

# Excepciones: Archivos que Windows necesita explícitamente con CRLF
*.bat text eol=crlf

*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.tex linguist-language=TeX
